<h1><%=t :messages %></h1>

<%= paginate @messages %>

<table class="person">
  <tr>
    <th title="Datasource"><%= sortable "dataSource", "Ds" %></th>
    <th><%= sortable "messageControlId" %></th>
    <th title="HL7 segment"><%= sortable "segment", "Se" %></th>
    <th title="HL7 composite"><%= sortable "composite", "Co" %></th>
    <th title="HL7 subcomposite"><%= sortable "subcomposite", "Sc" %></th>
    <th title="HL7 subsubcomposite"><%= sortable "subsubcomposite", "Ss" %></th>
    <th><%= sortable "value" %></th>
    <th><%= sortable "created_at" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.dataSource %></td>
    <td><%= message.messageControlId %></td>
    <td><%= message.segment %></td>
    <td><%= message.composite %></td>
    <td><%= message.subcomposite %></td>
    <td><%= message.subsubcomposite %></td>
    <td><%= message.value %></td>
    <td><%= message.created_at %></td>
  </tr>
<% end %>
</table>

<%= paginate @messages %>