<p>
  <b>Description:</b>
  <%= @datum.description %>
</p>

<p>
  <b>Data source:</b>
  <%= @datum.data_source %>
</p>

<p>
  <b>Segment:</b>
  <%= @datum.segment %>
</p>

<p>
  <b>Composite:</b>
  <%= @datum.composite %>
</p>

<p>
  <b>Subcomposite:</b>
  <%= @datum.subcomposite %>
</p>

<p>
  <b>Subsubcomposite:</b>
  <%= @datum.subsubcomposite %>
</p>

<p>
  <b>Hint:</b>
  <%= @datum.hint %>
</p>

<p>
  <b>Hint short:</b>
  <%= @datum.hint_short %>
</p>

<p>
  <b>Regex:</b>
  <%= @datum.regex %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
