<tr>
  <td><%= permission.dataSource %></td>
  <td><%= permission.segment %></td>
  <td><%= permission.composite %></td>
  <td><%= permission.subcomposite %></td>
  <td><%= permission.subsubcomposite %></td>
  <td><%= permission.value %></td>
  <td>
    <%= link_to 'Destroy Permission', [permission.group, permission], :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>