<%= form_for(@trial, :html => { :multipart => true }) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:extid) %>:<%= f.text_field :extId %>
  </div>
  <div class="field">
    <%= f.label t(:description) %>:<%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label t(:recruiting_target) %>:<%= f.number_field :recruitingTarget %>
  </div>
  <div class="field">
    <%= f.label t(:prename_investigator) %>:<%= f.number_field :prenameInvestigator %>
  </div>
  <div class="field">
    <%= f.label t(:surname_investigator) %>:<%= f.number_field :surnameInvestigator %>
  </div>
  <div class="field">
    <%= f.label t(:mail_investigator) %>:<%= f.number_field :mailInvestigator %>
  </div>
  <div class="field">
    <%= f.label t(:informed_consent) %>:<%= f.file_field :informed_consent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
