<h1>Listing trials</h1>

<table class="person center">
  <tr>
    <th>Extid</th>
    <th>Recruitingtarget</th>
    <th>Investigator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trials.each do |trial| %>
  <tr>
    <td><%= trial.extId %></td>
    <td>
      <% percentage = ((trial.recruiting_status.to_f / trial.recruitingTarget.to_f) * 100).to_i.to_s + "%" %>
      <div class="progressbar">
        <span id="label"><%= percentage %> (<%= trial.recruiting_status %> / <%= trial.recruitingTarget %>)</span>
        <span id="bar" style="width:<%= percentage %>;">&nbsp;</span>
      </div>
    </td>
    <td><%= mail_to trial.mailInvestigator, "#{trial.prenameInvestigator} #{trial.surnameInvestigator}" %></td>
    <td><%= link_to 'Show', trial %></td>
    <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
    <td><%= link_to 'Destroy', trial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trial', new_trial_path %>
