<h1><%=t :trials_list %></h1>

<table class="person center">
  <tr>
    <th><%=t :extid %></th>
    <th><%=t :recruiting_target %></th>
    <th><%=t :investigator %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trials.each do |trial| %>
  <tr>
    <td><%= trial.extId %></td>
    <td>
      <% percentage = ((trial.recruiting_status.to_f / trial.recruitingTarget.to_f) * 100).to_i.to_s + "%" %>
      <div class="progressbar">
        <span id="label"><%= percentage %> (<%= trial.recruiting_status %> / <%= trial.recruitingTarget %>)</span>
        <span id="bar" style="width:<%= percentage %>;">&nbsp;</span>
      </div>
    </td>
    <td><%= mail_to trial.mailInvestigator, "#{trial.prenameInvestigator} #{trial.surnameInvestigator}" %></td>
    <td><%= link_to image_tag("magnifier.png", { :title => t(:show) }), trial %></td>
    <td><%= link_to image_tag("cog_edit.png", { :title => t(:edit) }), edit_trial_path(trial) %></td>
    <td><%= link_to image_tag("bin.png", { :title => t(:trial_destroy) }), trial, :confirm => I18n.t("trial_destroy"), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:trial_new), new_trial_path %>
