<p>
  <b>Extid:</b>
  <%= @trial.extId %>
</p>

<p>
  <b>Description:</b>
  <%= @trial.description %>
</p>

<p>
  <b>Recruitingtarget:</b>
  <%= @trial.recruitingTarget %>
</p>

<p>
  <b>Recruiting Status:</b>
  <%= @trial.recruiting_status %>
</p>

<p>
  <b>PrenameInvestigator:</b>
  <%= @trial.prenameInvestigator %>
</p>

<p>
  <b>SurnameInvestigator:</b>
  <%= @trial.surnameInvestigator %>
</p>

<p>
  <b>MailInvestigator:</b>
  <%= @trial.mailInvestigator %>
</p>

<p>
  <b>InformedConsent:</b>
  <%
  # deployed to sub uri ("http://foo.bar/trialregistry" instead of "http://foo.bar")
  # therefor having to workaround bug in paperclip
  # see https://github.com/thoughtbot/paperclip/issues/889
  # ideally this should look like:
  # link_to "Download", @trial.informed_consent.url
  %>
  <%= link_to "Download", url_for("https://mitibem4.srv.med.uni-muenchen.de/trialregistry/trialregistry/system/trials/informed_consents/") + @trial.id.to_s + "/original/" + @trial.informed_consent_file_name %>
</p>

<h2>Criteria</h2>
<table>
  <tr>
    <th>Criterion type</th>
    <th>Datum</th>
    <th>Operator</th>
    <th>Value</th>
    <th></th>
  </tr>
<%= render @trial.criteria %>
</table>
 
<h2>Add a criterion:</h2>
<%= render "criteria/form" %>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
