<h1><%=t :physician_list %></h1>

<table class="person center">
  <tr>
    <th><%=t :trial %></th>
    <th><%= sortable "extdocid", t(:extdocid) %></th>
    <th><%= sortable "counter", t(:counter) %></th>
  </tr>

<% @physicians.each do |physician| %>
  <tr>
    <td><%= link_to physician.trial.extId, physician.trial %></td>
    <td><%= physician.extDocId %></td>
    <td><%= physician.counter %></td>
  </tr>
<% end %>
</table>