<h1>Listing medical_cases</h1>

<table class="person">
  <tr>
    <th><%= sortable "extId" %></th>
    <th>ExtPatId</th>
    <th><%= sortable "funcOu" %></th>
    <th><%= sortable "nurseOu" %></th>
    <th><%= sortable "extDocId" %></th>
    <th><%= sortable "admissionType" %></th>
    <th><%= sortable "admitDateTime" %></th>
    <th><%= sortable "dischargeDateTime" %></th>
    <th></th>
  </tr>

<% @medical_cases.each do |medical_case| %>
  <tr>
    <td><%= medical_case.extId %></td>
    <td><%= link_to medical_case.patient.extId, medical_case.patient %></td>
    <td><%= medical_case.funcOu %></td>
    <td><%= medical_case.nurseOu %></td>
    <td><%= medical_case.extDocId %></td>
    <td><%= medical_case.admissionType %></td>
    <td><%= medical_case.admitDateTime %></td>
    <td><%= medical_case.dischargeDateTime %></td>
    <td><%= link_to 'Show', medical_case %></td>
  </tr>
<% end %>
</table>