<h1><%=t :medical_cases %></h1>

<table class="person">
  <tr>
    <th><%= sortable "extId", I18n.t(:case_id) %></th>
    <th><%=t :patient %></th>
    <th><%= sortable "funcOu", I18n.t(:func_ou) %></th>
    <th><%= sortable "nurseOu", I18n.t(:nurse_ou) %></th>
    <th><%= sortable "extDocId", I18n.t(:doc) %></th>
    <th><%= sortable "admissionType" %></th>
    <th><%= sortable "admitDateTime", I18n.t(:admit_date_time) %></th>
    <th><%= sortable "dischargeDateTime", I18n.t(:discharge_date_time) %></th>
    <th></th>
  </tr>

<% @medical_cases.each do |medical_case| %>
  <tr>
    <td><%= medical_case.extId %></td>
    <td><%= link_to medical_case.patient.extId, medical_case.patient %></td>
    <td><%= medical_case.funcOu %></td>
    <td><%= medical_case.nurseOu %></td>
    <td><%= medical_case.extDocId %></td>
    <td><%= medical_case.admissionType %></td>
    <td><%= medical_case.admitDateTime %></td>
    <td><%= medical_case.dischargeDateTime %></td>
    <td><%= link_to I18n.t(:show), medical_case %></td>
  </tr>
<% end %>
</table>