<h2><%=t :sign_in %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :cn %>: <%= f.text_field :cn %>
  </div>

  <div class="field">
    <%= f.label :password %>: <%= f.password_field :password %>
  </div>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "links" %>