<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :extId %><br />
    <%= f.text_field :extId %>
  </div>
  <div class="field">
    <%= f.label :prename %><br />
    <%= f.text_field :prename %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :ext %><br />
    <%= f.text_field :ext %>
  </div>
  <div class="field">
    <%= f.label :extDocId %><br />
    <%= f.text_field :extDocId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
