<p id="notice"><%= notice %></p>

<p>
  <b>Extid:</b>
  <%= @patient.extId %>
</p>

<p>
  <b>Prename:</b>
  <%= @patient.prename %>
</p>

<p>
  <b>Surname:</b>
  <%= @patient.surname %>
</p>

<p>
  <b>Dob:</b>
  <%= @patient.dob %>
</p>

<p>
  <b>Ext:</b>
  <%= @patient.ext %>
</p>

<p>
  <b>Extdocid:</b>
  <%= @patient.extDocId %>
</p>


<%= link_to 'Back', patients_path %>
