<h1><%=t :hits_list %></h1>

<table class="person center">
  <tr>
    <th>Treffer</th>
    <th><%=t :func_ou %></th>
    <th><%=t :nurse_ou %></th>
    <th><%=t :extdocid %></th>
  </tr>

<% @hits.each do |hit,count| %>
  <tr>
    <td><%= count %></td>
    <% hit.each do |h| %>
      <td><%= h %></td>
    <% end %>
  </tr>
<% end %>
</table>