<p>
  <b>Extcaseid:</b>
  <%= @medical_case.extCaseId %>
</p>

<p>
  <b>Patient:</b>
  <%= @medical_case.patient %>
</p>

<p>
  <b>Funcou:</b>
  <%= @medical_case.funcOu %>
</p>

<p>
  <b>Nurseou:</b>
  <%= @medical_case.nurseOu %>
</p>


<%= link_to 'Back', medical_cases_path %>
