<h1><%=t 'request.index.listing_requests' %></h1>

<%= paginate @requests %>

<table class="person">
  <tr>
    <th><%=t "contact" %></th>
    <th><%=t "contact_phone" %></th>
    <th><%=t "description" %></th>
    <th><%=t "submitted" %></th>
    <th><%=t "approved" %></th>
    <th><%=t "result" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= mail_to request.mailContact, "#{request.prenameContact} #{request.surnameContact}" %></td>
    <td><%= request.phoneContact %></td>
    <td><%= link_to truncate(request.description, :length => 50), request %></td>
    <td class="center">
      <% if request.submit == 1 %>
        <span title="submitted">&radic;</span>
      <% end %>
    </td>
    <% if request.approved == true %>
      <td class="green center" title="approved">&radic;</td>
    <% elsif request.approved == false %>
      <td class="red center" title="rejected">&empty;</td>
    <% else %>
      <td class="center" title="pending"><%=t "pending" %></td>
    <% end %>
    </td>
    <td><% if request.result == nil %><%=t "pending" %><% else %><%= request.result %><% end %></td>
    <td><%= link_to I18n.t('show'), request %></td>
    <td><%= link_to I18n.t('destroy'), request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @requests %>