<h1><%=t 'request.index.listing_requests' %></h1>

<%= paginate @requests %>

<table class="person">
  <tr>
    <th><%= sortable "prenameContact", t(:contact) %></th>
    <th><%= sortable "phoneContact", t(:contact_phone) %></th>
    <th><%=t "description" %></th>
    <th><%= sortable "submit", t(:submitted) %></th>
    <th><%= sortable "approved", t(:approved) %></th>
    <th><%= sortable "result", t(:result) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= mail_to request.mailContact, "#{request.prenameContact} #{request.surnameContact}" %></td>
    <td class="center"><%= request.phoneContact %></td>
    <td><%= link_to truncate(request.description, :length => 50), request %></td>
    <td class="center">
      <% if request.submit == 1 %>
        <%= image_tag("accept.png", { :title => t(:submitted) }) %>
      <% else %>
        <%= image_tag("gear_in.png", { :title => t(:pending) }) %>
      <% end %>
    </td>
    <% if request.approved == true %>
      <td class="center"><%= image_tag("accept.png", { :title => t(:approved) }) %></td>
    <% elsif request.approved == false %>
      <td class="center"><%= image_tag("delete.png", { :title => t(:rejected) }) %></td>
    <% else %>
      <td class="center" title="pending"><%= image_tag("gear_in.png", { :title => t(:pending) }) %></td>
    <% end %>
    </td>
    <td class="center"><% if request.result == nil %><%= image_tag("gear_in.png", { :title => t(:pending) }) %><% else %><%= request.result %><% end %></td>
    <td><%= link_to image_tag("magnifier.png", { :title => t('show') }), request %></td>
    <td><%= link_to image_tag("bin.png", { :title => t('destroy') }), request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @requests %>