<table class="classic">
  <tr>
    <th><%=t :prename %></th>
    <th>:</th>
    <td><%= @request.prenameContact %></td>
    <td>
      <% if @request.submit != 1 %><%= link_to image_tag("cog_edit.png", { :title => t("request.edit") }), edit_request_path(@request) %><% end %>
    </td>
  </tr>
  <tr>
    <th><%=t :surname %></th>
    <th>:</th>
    <td><%= @request.surnameContact %></td>
    <td></td>
  </tr>
  <tr>
    <th><%=t :contact_mail %></th>
    <th>:</th>
    <td><%= mail_to @request.mailContact %></td>
    <td></td>
  </tr>
  <tr>
    <th><%=t :contact_phone %></th>
    <th>:</th>
    <td><%= @request.phoneContact %></td>
    <td></td>
  </tr>
  <tr>
    <th><%=t :description %></th>
    <th>:</th>
    <td><%= @request.description %></td>
    <td></td>
  </tr>
  <tr>
    <th><%=t :submitted %></th>
    <th>:</th>
    <td>
      <% if @request.submit == 1 %>
        <span class="">&radic;</span>
      <% else %>
        <span class="">not yet submitted</span>
      <% end %>
    </td>
    <td>
      <% if !user_signed_in? %>
        <% if @request.submit != 1 %>
          <%= form_for(@request) do |f| %>
            <%= f.hidden_field :submit, :value => 1 %>
            <%= f.submit t("helpers.submit.request.update"), { :type => "image", :src => image_path("accept.png"), :title => t("helpers.submit.request.update") } %>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%=t :approved %></th>
    <th>:</th>
    <td>
      <% if @request.approved == true %>
        <span class="">&radic;</span>
      <% elsif @request.approved == false %>
        <span class="">&empty;</span>
      <% else %>
        <%=t :pending %>
      <% end %>
    </td>
    <td>
      <% if user_signed_in? && current_user.admin? && @request.submit == 1 %>
      <% if @request.approved.nil? %>
        <%= form_for(@request) do |f| %>
          <%= f.hidden_field :approved, :value => 1 %>
          <%= f.submit t("approve"), { :type => "image", :src => image_path("accept.png"), :title => t("approve") } %>
        <% end %>
        <%= form_for(@request) do |f| %>
          <%= f.hidden_field :approved, :value => 0 %>
          <%= f.submit t("reject"), { :type => "image", :src => image_path("delete.png"), :title => t("reject") } %>
        <% end %>
      <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%=t :result %></th>
    <th>:</th>
    <td><% if @request.result == nil %><%=t "pending" %><% else %>Um <%= @request.updated_at.in_time_zone('Berlin') %> traf(en) <%= @request.result %> Patient(en) auf die von Ihnen gewählten Kriterien zu<% end %></td>
    <td></td>
  </tr>
</table>

<table class="person center">
  <tr>
    <th><%=t :criterion_type %></th>
    <th><%=t :datum %></th>
    <th><%=t :operator %></th>
    <th><%=t :value %></th>
    <th></th>
  </tr>
<%= render @request.criteria %>
<% if @request.submit != 1 %>
  <%= render "criteria/form" %>
<% end %>
</table>