<tr>
  <td><%= criterion.criterion_type %></td>
  <td><%= criterion.datum.description %></td>
  <td><%= criterion.operator %></td>
  <td><%= criterion.value %></td>
  <td>
    <%= link_to t(:criterion_destroy), [criterion.trial, criterion], :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>