<h1><%=t :Consents %></h1>

<table class="person">
  <tr>
    <th><%=t :subject %></th>
    <th><%=t :trial %></th>
    <th><%=t :physician %></th>
    <th><%=t :status %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consents.each do |consent| %>
  <tr>
    <td><%= consent.subject.prename %> <%= consent.subject.surname %></td>
    <td><%= consent.trial.extId %></td>
    <td><%= mail_to consent.mailPhysician, "#{consent.prenamePhysician} #{consent.surnamePhysician}" %></td>
    <% if consent.status == 1 %>
      <td class="green center">&radic;</td>
    <% elsif consent.status == 0 %>
      <td class="red center">&empty;</td>
    <% else %>
      <td class="center">?</td>
    <% end %>

    <td><%= link_to I18n.t('show'), consent %></td>
    <td><%= link_to I18n.t('edit'), edit_consent_path(consent) %></td>
    <td><%= link_to I18n.t('destroy'), consent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>