<h1><%=t :Consents %></h1>

<%= paginate @consents %>

<table class="person">
  <tr>
    <th><%=t :subject %></th>
    <th><%= sortable "trial_id", I18n.t(:trial) %></th>
    <th><%= sortable "prenamePhysician", I18n.t(:physician) %></th>
    <th><%= sortable "status", I18n.t(:status) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consents.each do |consent| %>
  <tr>
    <td><%= consent.subject.prename %> <%= consent.subject.surname %></td>
    <td class="center"><%= link_to consent.trial.extId, S3uLmuConsentmanager::Application.config.s3u_lmu_studienmonitor_url + "/trials/" + consent.trial.id.to_s %></td>
    <td><%= mail_to consent.mailPhysician, "#{consent.prenamePhysician} #{consent.surnamePhysician}" %></td>
    <% if consent.status == 1 %>
      <td class="green center"><%= image_tag("accept.png", { :title => t(:consent_issued) }) %></td>
    <% elsif consent.status == 0 %>
      <td class="red center"><%= image_tag("delete.png", { :title => t(:consent_withdrawn) }) %></td>
    <% else %>
      <td class="center">?</td>
    <% end %>

    <td class="center"><%= link_to image_tag("magnifier.png", { :title => t(:show) }), consent %></td>
    <td class="center"><%= link_to image_tag("cog_edit.png", { :title => t(:edit) }), edit_consent_path(consent) %></td>
    <td class="center"><%= link_to image_tag("bin.png", { :title => t(:destroy) }), consent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @consents %>