<h1>Listing diagnoses</h1>

<table class="person">
  <tr>
    <th>Medical case</th>
    <th>Patient</th>
    <th><%= sortable "icd10Code" %></th>
    <th><%= sortable "icd10Text" %></th>
    <th><%= sortable "icd10Version" %></th>
    <th></th>
  </tr>

<% @diagnoses.each do |diagnosis| %>
  <tr>
    <td><%= link_to diagnosis.medical_case.extId, diagnosis.medical_case %></td>
    <td><%= link_to diagnosis.medical_case.patient.extId, diagnosis.medical_case.patient %></td>
    <td><%= diagnosis.icd10Code %></td>
    <td><%= diagnosis.icd10Text %></td>
    <td><%= diagnosis.icd10Version %></td>
    <td><%= link_to 'Show', diagnosis %></td>
  </tr>
<% end %>
</table>