<h1><%=t :diagnoses %></h1>

<%= paginate @diagnoses %>

<table class="person">
  <tr>
    <th><%=t :medical_case %></th>
    <th><%=t :patient %></th>
    <th><%= sortable "icd10Code", I18n.t(:icd10code) %></th>
    <th><%= sortable "icd10Text", I18n.t(:icd10text) %></th>
    <th><%= sortable "icd10Version", I18n.t(:icd10version) %></th>
    <th></th>
  </tr>

<% @diagnoses.each do |diagnosis| %>
  <tr>
    <td><%= link_to diagnosis.medical_case.extId, diagnosis.medical_case %></td>
    <td><%= link_to diagnosis.medical_case.patient.extId, diagnosis.medical_case.patient %></td>
    <td><%= diagnosis.icd10Code %></td>
    <td><%= diagnosis.icd10Text %></td>
    <td><%= diagnosis.icd10Version %></td>
    <td><%= link_to I18n.t(:show), diagnosis %></td>
  </tr>
<% end %>
</table>

<%= paginate @diagnoses %>