<h1><%=t :listing_cases %></h1>

<%= paginate @medical_cases %>

<table class="person">
  <tr>
    <th><%=t :new %>?</th>
    <th><%= sortable "extcaseid", t(:extcaseid) %></th>
    <th><%=t :patient, :count => 1 %></th>
    <th title="<%=t :funcou_long %>"><%= sortable "funcOu", t(:funcou_short) %></th>
    <th title="<%=t :nurseou_long %>"><%= sortable "nurseOu", t(:nurseou_short) %></th>
    <th><%= sortable "created_at", t(:created_at) %></th>
    <th><%= sortable "updated_at", t(:updated_at) %></th>
    <th></th>
  </tr>

<% @medical_cases.each do |medical_case| %>
  <% if medical_case.read_status.nil? %>
  <tr class="unread">
  <% else %>   
  <tr>
  <% end %>
    <td class="center"><% if medical_case.read_status.nil? %><%= image_tag("weather_sun.png", { :title => t(:new) }) %><% end %></td>
    <td class="center"><%= medical_case.extCaseId %></td>
    <td class="center"><%= link_to medical_case.patient.extId, medical_case.patient %></td>
    <td class="center"><%= medical_case.funcOu %></td>
    <td class="center"><%= medical_case.nurseOu %></td>
    <td><%= time_ago_in_words(medical_case.created_at) %></td>
    <td><%= time_ago_in_words(medical_case.updated_at) %></td>
    <td class="center"><%= link_to image_tag("magnifier.png", { :title => t(:show) }), medical_case %></td>
  </tr>
<% end %>
</table>

<%= paginate @medical_cases %>
