<h1><%=t :details_patient, :prename => @patient.prename, :surname => @patient.surname %></h1>

<table class="classic">
  <tr>
    <th><%=t :patient, :count => 1 %></th>
    <td>: <%= @patient.extId %></td>
  </tr>
  <tr>
    <th><%=t :prename %></th>
    <td>: <%= @patient.prename %></td>
  </tr>
  <tr>
    <th><%=t :surname %></th>
    <td>: <%= @patient.surname %></td>
  </tr>
  <tr>
    <th><%=t :dob %></th>
    <td>: <%= @patient.dob %></td>
  </tr>
  <tr>
    <th><%=t :sex %></th>
    <% if @patient.sex == 'M' %>
      <td>: <span class="male_female"><%= image_tag("male.png", { :title => t(:male) }) %></span></td>
    <% elsif @patient.sex == 'F' %>
      <td>: <span class="male_female"><%= image_tag("female.png", { :title => t(:female) }) %></span></td>
    <% else %>
      <td title="<%=t :unclear %>">: ?</td>
    <% end %>
  </tr>
  <tr>
    <th><%=t :extdocid %></th>
    <td>: <%= @patient.extDocId %></td>
  </tr>
  <tr>
    <th><%=t :trial %></th>
    <td>: <%= link_to @patient.trial.extId, "#{S3uLmuAerzteUi::Application.config.s3u_lmu_studienmonitor_url}/trials/#{@patient.trial.id}" %> <% if @patient.consent_status.nil? %>(<%= link_to I18n.t("patient.edit"), edit_patient_path %>)<% end %></td>
  </tr>
  <tr>
    <th><%=t :consent %></th>
    <td>:
      <% if @patient.consent_status == 1 %>
        <%= image_tag("accept.png", { :title => t(:consent_yes) }) %>
      <% elsif @patient.consent_status == 0 %>
        <%= image_tag("delete.png", { :title => t(:consent_no) }) %>
      <% else %>
        <%= image_tag("help.png", { :title => t(:consent_unknown) }) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= link_to I18n.t(:self_service), S3uLmuAerzteUi::Application.config.s3u_lmu_consentmanager_url %></th>
    <td>:
      <% if @patient.self_service_status == 1 %>
        <%= image_tag("accept.png", { :title => t(:consent_yes) }) %>
      <% elsif @patient.self_service_status == 0 %>
        <%= image_tag("delete.png", { :title => t(:consent_no) }) %>
      <% else %>
        <%= image_tag("help.png", { :title => t(:consent_unknown) }) %>
      <% end %>
    </td>
  </tr>
</table>
<table class="person">
  <tr>
    <th><%=t :extcaseid %></th>
    <th><%=t :funcou_short %></th>
    <th><%=t :nurseou_short %></th>
    <th></th>
  </tr>
<%= render @patient.medical_cases %>
</table>
