<!DOCTYPE html>
<html>
<head>
  <title>[S3U] CDMS (** Dummy **) &middot; Klinikum der Universität München</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="mainWrapper">
    <div id="header"><%= image_tag("/assets/header.jpg") %></div>
    <div id="main">
      <div id="firstColumn">
        <div id="search">&nbsp;</div>
        <ul id="navigation">
          <li><%= link_to "Patients", :patients %></li>
          <li><%= link_to "Cases", :medical_cases %></li>
          <li><%= link_to "Diagnoses", :diagnoses %></li>
        </ul>
      </div>
      <div id="secondColumn">
        <div id="quickLinks">
          <%= link_to "Universität München", 'http://www.uni-muenchen.de' %> | <%= link_to "Klinikum der Universität München", 'http://www.klinikum.uni-muenchen.de' %> | <%= link_to "Medizinische Fakultät", 'http://www.med.uni-muenchen.de' %>
        </div>
        <div id="breadcrumb">
          breadcrumb
        </div>
        <div id="notifications">
          <p id="notice"><%= notice %></p>
          <p id="alert"><%= alert %></p>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        <div id="functions">
          <div class="printlink">
            <%= link_to image_tag("/assets/drucken.gif"), "#" %>
          </div>
          <div class="responsible">&nbsp;</div>
          <div class="toplink">
            <%= link_to image_tag("/assets/toplink.gif"), "#" %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= mail_to "my_user@localhost", "Contact" %> | <%= link_to "Overview of S3U infrastructure", "http://localhost" %>
    </div>
  </div>
</body>
</html>
