<table style="width: 100%">
  <tr>
    <td style="padding: 5px"></td>
    <td style="text-align: center; font-size: 17px; font-weight: bold; vertical-align: top; padding: 5px"><%= link_to @new_patients.count, :patients %></td>
    <td style="padding: 5px"></td>
    <td style="padding: 5px">
      <span style="font-size: 17px; font-weight: bold"><%=t :patients_new_short %></span>
      <br/>
      <span style="color: silver; font-style: italic"><%=t :patients_new_long %></span>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px; padding-top: 10px"></td>
    <td style="text-align: center; font-size: 17px; font-weight: bold; vertical-align: top; padding: 5px; padding-top: 10px"><%= link_to @remaining_patients, :patients %></td>
    <td style="padding: 5px; padding-top: 10px"></td>
    <td style="padding: 5px; padding-top: 10px">
      <span style="font-size: 17px; font-weight: bold"><%=t :patients_remaining_short %></span>
      <br/>
      <span style="color: silver; font-style: italic"><%=t :patients_remaining_long %></span>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px; padding-top: 10px"></td>
    <td style="border-top: 1px solid black; text-align: center; font-size: 17px; font-weight: bold; vertical-align: top; padding: 5px; padding-top: 10px"><%= link_to @total_patients.count, :patients %></td>
    <td style="border-top: 1px solid black; padding: 5px; padding-top: 10px"></td>
    <td style="border-top: 1px solid black; padding: 5px; padding-top: 10px">
      <span style="font-size: 17px; font-weight: bold"><%=t :patients_total_short %></span>
      <br/>
      <span style="color: silver; font-style: italic"><%=t :patients_total_long %></span>
    </td>
  </tr>
</table>