<div class="table">
  <div class="tr">
    <div class="td"></div>
    <div class="td big shadow"><%= link_to @new_patients.count, :patients %></div>
    <div class="td"></div>
    <div class="td">
      <span class="big shadow"><%=t :patients_new_short %></span>
      <br/>
      <span class="greyitalic shadow"><%=t :patients_new_long %></span>
    </div>
  </div>
  <div class="tr">
    <div class="td"></div>
    <div class="td big shadow"><%= link_to @remaining_patients, :patients %></div>
    <div class="td"></div>
    <div class="td">
      <span class="big shadow"><%=t :patients_remaining_short %></span>
      <br/>
      <span class="greyitalic shadow"><%=t :patients_remaining_long %></span>
    </div>
  </div>
  <div class="tr sum">
    <div class="td"></div>
    <div class="td big shadow"><%= link_to @total_patients.count, :patients %></div>
    <div class="td"></div>
    <div class="td">
      <span class="big shadow"><%=t :patients_total_short %></span>
      <br/>
      <span class="greyitalic shadow"><%=t :patients_total_long %></span>
    </div>
  </div>
</div>