<!DOCTYPE html>
<html>
<head>
  <title>[S3U] HL7-Interface &middot; Klinikum der Universität München</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="mainWrapper">
    <div id="header"><%= image_tag("/assets/header.jpg") %></div>
    <div id="main">
      <div id="firstColumn">
        <div id="search">
          <% if user_signed_in? %>
          <%= image_tag("ceo.png") %><%=t :logged_in_as, :user => current_user.cn %> | <%= link_to I18n.t(:logout), destroy_user_session_path, :method => :delete %>
          <% else %>
          <%= image_tag("user_silhouette.png") %><%= link_to I18n.t(:login), new_user_session_path %>
          <% end %>
        </div>
        <ul id="navigation">
          <% if user_signed_in? %>
          <li><%= link_to I18n.t(:messages), :messages %></li>
          <li><%= link_to I18n.t(:patients), :patients %></li>
          <li><%= link_to I18n.t(:medical_cases), :medical_cases %></li>
          <li><%= link_to I18n.t(:diagnoses), :diagnoses %></li>
          <li><%= link_to I18n.t(:groups), :groups %></li>
          <% end %>
        </ul>
      </div>
      <div id="secondColumn">
        <div id="quickLinks">
          <%= link_to "Universität München", 'http://www.uni-muenchen.de' %> | <%= link_to "Klinikum der Universität München", 'http://www.klinikum.uni-muenchen.de' %> | <%= link_to "Medizinische Fakultät", 'http://www.med.uni-muenchen.de' %>
        </div>
        <div id="breadcrumb">
          breadcrumb
        </div>
        <div id="notifications">
          <% if notice %><p id="notice"><%= image_tag("information.png") %><%= notice %></p><% end %>
          <% if alert %><p id="alert"><%= image_tag("exclamation.png") %><%= alert %></p><% end %>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        <div id="functions">
          <div class="printlink">
            <%= link_to image_tag("printer.png", { :title => t("print") }), "#" %>
          </div>
          <div class="responsible">&nbsp;</div>
          <div class="toplink">
            <%= link_to image_tag("application_get.png", :title => t(:top)), "#" %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= mail_to "my_user@localhost", I18n.t("report_bug"), :subject => "[S3U][H7] Bug report" %> | <%= mail_to "my_user@localhost", I18n.t("contact"), :subject => "[S3U] Contact" %> | <%= link_to I18n.t("overview"), "http://localhost" %>
    </div>
  </div>
</body>
</html>
