<h1><%=t :subjects_listing %></h1>

<%= paginate @subjects %>

<table class="person">
  <tr>
    <th><%=t "prename" %></th>
    <th><%=t "surname" %></th>
    <th><%=t "no_consents" %></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.prename %></td>
    <td><%= subject.surname %></td>
    <td><%= subject.consents.size %></td>
    <td><%= link_to I18n.t('show'), subject %></td>
    <td><%= link_to I18n.t('destroy'), subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @subjects %>