<h1><%=t :subjects_listing %></h1>

<%= paginate @subjects %>

<table class="person">
  <tr>
    <th><%= sortable "prename", I18n.t(:prename) %></th>
    <th><%= sortable "surname", I18n.t(:surname) %></th>
    <th><%=t :no_consents %></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.prename %></td>
    <td><%= subject.surname %></td>
    <td class="center"><%= subject.consents.size %></td>
    <td class="center"><%= link_to image_tag("magnifier.png", { :title => t(:show) }), subject %></td>
    <td class="center"><%= link_to image_tag("bin.png", { :title => t(:destroy) }), subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @subjects %>