<table class="classic">
  <tr>
    <th><%=t "prename" %></th>
    <td>: <%= @subject.prename %></td>
  </tr>
  <tr>
    <th><%=t "surname" %></th>
    <td>: <%= @subject.surname %></td>
  </tr>
</table>

<table class="person">
  <tr>
    <th><%=t "trial" %></th>
    <th><%=t "physician" %></th>
    <th><%=t "status" %></th>
    <th><%=t "issued_at" %></th>
  </tr>
<%= render @subject.consents %>
</table>