<h1><%=t :patients %></h1>

<%= paginate @patients %>

<table class="person">
  <tr>
    <th><%= sortable "extId", I18n.t(:patient_id) %></th>
    <th><%= sortable "prename", I18n.t(:prename) %></th>
    <th><%= sortable "surname", I18n.t(:surname) %></th>
    <th><%= sortable "dob", I18n.t(:dob) %></th>
    <th><%= sortable "sex", I18n.t(:sex) %></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.extId %></td>
    <td><%= patient.prename %></td>
    <td><%= patient.surname %></td>
    <td><%= patient.dob %></td>
    <td><%= patient.sex %></td>
    <td><%= link_to I18n.t(:show), patient %></td>
  </tr>
<% end %>
</table>

<%= paginate @patients %>