<h1>Listing patients</h1>

<table class="person">
  <tr>
    <th>Extid</th>
    <th>Prename</th>
    <th>Surname</th>
    <th>Dob</th>
    <th>Sex</th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.extId %></td>
    <td><%= patient.prename %></td>
    <td><%= patient.surname %></td>
    <td><%= patient.dob %></td>
    <td><%= patient.sex %></td>
    <td><%= link_to 'Show', patient %></td>
  </tr>
<% end %>
</table>