<p id="notice"><%= notice %></p>

<table class="classic">
  <tr>
    <th>Extid</th>
    <td>: <%= @patient.extId %></td>
  </tr>
  <tr>
    <th>Prename</th>
    <td>: <%= @patient.prename %></td>
  </tr>
  <tr>
    <th>Surname</th>
    <td>: <%= @patient.surname %></td>
  </tr>
  <tr>
    <th>Dob</th>
    <td>: <%= @patient.dob %></td>
  </tr>
  <tr>
    <th>Sex</th>
    <td>: <%= @patient.sex %></td>
  </tr>
</table>